body {
  background: hsl(223, 19%, 93%);
}

.card-container {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}
.comment-content,
.existing-replies {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  color: gray;
  margin-left: 20px;
}
.comment-card,
.existing-replies {
  background: white;
  border-radius: 5px;
}
img {
  max-width: 40px;
  padding: 10px;
}

.comment-card {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 25px 0;
}
.comment-content-header {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: -15px;
}
.comment-content-header p {
  color: black;
  font-weight: 500;
}
.reply {
  display: flex;
  align-items: center;
  margin-left: 150%;
}
.reply button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  cursor: pointer;
}
.reply img {
  padding: 0;
  cursor: pointer;
}
.amyProfile {
  display: flex;
  justify-content: space-between;
}

.comment-card-2 {
  padding: 2px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
}
.reply-container {
  margin-top: 20px;
  display: flex;
}
