.existing-comment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.existing-replies {
  max-width: 550px;
  padding: 10px;
  margin-bottom: 20px;
}
.existing-comment-likes {
  margin-right: 10px;
}
.existing-content {
  display: inline-block;
  align-items: center;
  flex-direction: column;
}
.existing-content-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.existing-reply {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
}
.at-sign-section .at-sign {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  cursor: pointer;
}
.existing-container {
  display: flex;
  justify-content: flex-end;
}

.your-reply {
  color: white;
  margin-left: 10px;
  width: 25px;
  font-size: 0.9rem;
  border-radius: 2px;
  padding: 2px 7px;
  background-color: hsl(238, 40%, 52%);
}

.delete-button {
  margin-left: 125px;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: hsl(358, 79%, 66%);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.delete-button-active {
  border-radius: 5px;
  color: black;
  padding: 5px 8px;
  background: hsl(358, 79%, 66%);
}
